h1 {
    color:black;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
}
h2 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    color: #fff;
    font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}
button {
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {
    display: flex;
    padding: 5px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    flex:40%;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .card input{
    width: 100%;
}
  .card button:hover {
    opacity: 0.7;
  }
  .card p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
  }

  .getränke-kategorien {
    background: #eaeaed;
    overflow: auto;
  }
  .getränke-kategorien button {
    background: #2db34a;
    float: left;
    margin: 1.858736059%;
    width: 29.615861214%;
    padding: 30px 0;
    text-align: center; 
  }

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background: #FFF;
  color: black;
  z-index: 9;
  margin: 25%;
  margin-top: 5%;
  padding: 20px;
  border: 10px solid #888;
  width: 40%;
    display: inline-block;
}

.modal img{
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.buy{
    align-content: center;
    margin: 5%;
    border: 5px solid #000;
}
.buy input{
    width: 5%;
    margin: auto;
}
button.button1{
    border: none;
    outline: 0;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 5%;
    font-size: 24px;
    margin-left: 5%;
  }
button.button2{
    border: none;
    outline: 0;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 5%;
    font-size: 24px;
    margin-right: 5%;
  }
button.button3{
    background-color: crimson;
    outline: 0;
    color: white;
    width: 60%;
    transition-duration: 0.4s;

}
button.button3:hover{
    background-color: black;
    outline: 0;
    color: white;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}